header {
        background-color: #FFFFFF;
        height: 70px;
        width: 100%;
	border-bottom: 1px solid #CCCCCC;
}

header.logo {
	float: left;
	height: 50px;
	width: 50px;
	margin: 10px 0px 0px 20px;
	align-items: center;
	background-image: url("../images/icon.png");
	background-size: cover;
	background-position: center;
}

header.logotxt {
	display: flex;
	height: 100%;
	align-items: center;
	font-size: 20px;
}
