header {
        background-color: #FFFFFF;
        height: 70px;
        width: 100%;
	border-bottom: 1px solid #CCCCCC;
}

.logo {
	height: 50px;
	width: 50px;
	margin: 10px 20px;
	background-image: url("images/icon.png");
}
